body {
	overflow-x:hidden;
	overflow-y:auto;
	background-color:white;
}

#navbar {
	background-image: url(ABT US logo.png);
	background-position:center;
	top: 0%;
	height:5em;
	color:#353535;
}