body {
	overflow-x:hidden;
	overflow-y:auto;
	background-color:#ececec;
}

#navbar {
	background-position:center;
	margin: 0px;
	top: 0%;
	height:4em;
	background-color:#353535;
	z-index:1;
}
#logo{
	background-image: url(logo.png);
	background-position:center;
	z-index:2;
}
#picture{
	//background-image: url(page.png);
	background-position:center;	
	height:40%;
	width:60%;
	background-color:black
}